<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Notes</title>
<link href="index.css" rel="stylesheet">
</head>
<body style="background-color:#FCBACB;">
<div class="container my-2" align="center" >
<br>
<br>

<h1 style="font-size:60px;background-color:#fdec96;">Heading 1</h1>
<br>
<a style="font-size:50px;background-color:#fdec96;" th:href="@{/addNotes}" class="btn btn-primary btn-sm mb-3" >Add Notes</a>
<br>
<br>
<br>
<br>

	<table style="width:80%" border="1"
		class = "table table-striped table-responsive-md">
	<thead>
<tr>
	<th>Number</th>

	<th>Notes</th>
    <th>Action</th>
	
</tr>
</thead>
<tbody>
<tr align="center" th:each="note:${allnotes}">
	<td align="center" th:text="${note.id}"></td>

	<td  th:text="${note.notes}"></td>
			<td align="center"> <a  style="font-size:20px;background-color:#fdec96;" th:href="@{/showFormForUpdate/{id}(id=${note.id})}"
				class="btn btn-primary">Update</a>
				<a  style="font-size:20px;background-color:#fdec96;" th:href="@{/deleteNote/{id}(id=${note.id})}"
				class="btn btn-danger">Delete</a>
	
</tr>
</tbody>
</table>
</div>
</body>
</html>
