<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Notes Update</title>

</head>
<body style="background-color:#FCBACB;">
<div class="container my-2" align="center" >
<h1 style="font-size:60px;background-color:#fdec96;">Notes Update</h1>

		<hr>

		<form action="#" th:action="@{/save}" th:object="${notes}" method="POST">
			
			<!-- Add hidden form field to handle update -->
			
			<input type="hidden" th:field="*{id}" />
			
			<input type="hidden" th:field="*{updateflag}" value="Y"/>
			
			
			<input style="font-size:30px;background-color:#fdec96;" type="text" th:field="*{Notes}"  class="form-control mb-4 col-4">
								
				
				<button style="font-size:30px;background-color:#fdec96;" type="submit" class="btn btn-info col-2"> Update Notes</button>
		</form>
		
		<hr>
		
		<a style="font-size:20px;" th:href = "@{/}"> Back to your notes !</a>
	</div>
</body>
</html>
